/* balise commune */ 
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header, footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
  
  main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

   
    height: 70%;
    display: flex;
    flex: 1 0 auto;	
  }

/* Header */ 

  header{
    display: flex;
	justify-content: space-between;
	height: 7vh;
	align-items: center;
  }

  .entete{
	display: flex;
}

.carre_entete{
    width  : 1.5vw;
    height : 2.5vh;
    background : rgb(0, 80, 254, 1);
    margin-right: 1vw;
    margin-left: 1vw;
  }

.boutonNav {
	background-color: #FFFF;
	border-width: 0px;
	margin-right: 1vw;
}

.boutonNav:hover {
	color: rgb(0, 80, 254, 1);
}

/* Footer */ 

footer{
    display: flex;
	justify-content: space-around;
	text-align: center;
	width: 100%;
	margin-top: 1vh;
	margin-bottom: 0px;
}

.footerElement {
	width: 33%;	
}


/* MAIN PAGE INDEX */ 


.leftPart {
	background-color: rgb(230, 218, 205, 1);
	width : 30%;
}

.rightPart {
	background-color: #FFFF; 
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.home_card{
	height: 45vh; 
	width: 21vw; 
	background-color: rgb(244, 236, 230, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	position: relative;
	left: -25vw;
	top: 5vw;
}

.photo_profil{
	width: 10vw;
	height: auto;
	border-radius: 50%;
	margin-top: 2.5vh;
}

#home_card_nom {
	margin-top: 2.5vh;
}

hr {
	height: 5vh;
	width: 8vw;
	color: rgb(0, 80, 254, 1); 
}

.home_texte{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 24vw;	
}

.home_logo{
	width: 100%;
	height: 100%;
	display: flex; 
	justify-content: center;
	background-color: white;
}

#card_logo{
	margin-top: 2.5vh;
	margin-left: 2vw;
}

#card_logo:hover{
	cursor: pointer;
}

.logoFooter{
	width: 2vw;
	height: 3.5vh;
}

.logoFooter:hover{
	cursor: pointer;
}

.home_texte{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 24vw;	
}

.boutons_accueil{ 
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 22vw;	
}

.bouton_bleu{
	background-color: rgb(0, 80, 254, 1);
	border-radius: 50px;
	color: white;
	height: 5vh;
	width: 10vw;
	border: 1px solid rgb(0, 80, 254, 1);
	margin-left:3vw;
}

.bouton_bleu:hover{
	background-color: white;
	color: rgb(0, 80, 254, 1);
	border: 1px solid rgb(0, 80, 254, 1);
}

/* MAIN PAGE CV */ 

#mainCV {	
        min-height: 100vh;
        background-color: rgb(230, 218, 205, 1);
        display: flex;
        align-items: center;
        flex-direction: column;
}

.titre_CV{
	display: flex;
	align-items: center;
	margin-top: 4vw;
	margin-bottom: 2vw;
}

.titre_section{
	display: flex;
	justify-content: space-between;
	width: 55vw;
	align-items: center;
}

#experience{
	margin-left: 2vw;
}

.bouton_download_cv{
	background-color: rgb(0, 80, 254, 1);
	border-radius: 50px;
	color: white;
	height: 3vw;
	width: 13vw !important;
	border: 1px solid rgb(0, 80, 254, 1);
	margin-left:3vw;
	text-align: center;
	padding-top: 0.5vw;	
}

.bouton_download_cv:hover{
	background-color: white;
	border-radius: 50px;
	color: rgb(0, 80, 254, 1);
	height: 3vw;
	width: 10vw;
	border: 1px solid rgb(0, 80, 254, 1);
}

#bouton_download_cv{
	margin-right: 2vw;
	width: auto;
	text-decoration: none;
}

.item{
	width: 65vw;
	height: 15vw;
	background-color: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	display: flex;
	padding: 2vw;
	justify-content: space-around;
	margin-bottom: 4vw;
	padding: 1vw;
	-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
}

.item:hover {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}

#premier_item{
	margin-top: 2vw;
}

.colonne{
	margin-left: 1vw;
	padding : 1vw;
}

#colonne_logo{
	display: flex;
	align-items: center;
}

#logoOBS{
	width: 9vw;
	height: auto;
	align-self: center;
}

#colonne_droite {
	margin-top: 2.8vw;
	display: flex;
	flex-direction: column;
	width: 50%;
}

.date{
	color: rgb(0, 80, 254, 1);
}

#item_ESC{
	height: 18vw;	
}


#item_L1PT{
	height: 20vw;
}

#formation{
	margin-bottom: 2vw;
}

#item_EPF{
	height: 20vw;
}

#btn_en_savoir_plus {
	margin-top: 2vw;
}

#item_competences_langues{
	height: 22vw;
	display: flex;
	flex-direction: column;
	padding-left: 2vw;
	padding-top: 3vw;
}

.competences{
	display: flex;
	justify-content: space-around;
}