
/* /!\ COMMUN À TOUTES LES PAGES /!\ */ 

@font-face {   
    font-family: 'Heebo';
    src: url('Heebo/Heebo-VariableFont_wght.ttf');
}

body{
   display: flex;
   flex-direction: column;  
   padding-bottom: 0px;

   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	height: 5vw;
	align-items: center;

	flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

@media screen and (max-width: 1000px)
{
    header {
		height: 2vw;
	}
	p {
		font-size: small;
	}
	button {
		font-size: small;
	}
	footer{
	height: 2vw;
	}
}

@media screen and (max-width: 550px)
{
    header {
		height: 1.5vw;
	}
	p {
		font-size: x-small;
	}
	button {
		font-size: x-small;
	}
	footer{
		height: 1vw;
		}
}

footer {
	background-color: blue; 
	display: flex;
	justify-content: space-around;
	text-align: center;
	width: 100%;
	margin-top: 1vh;
	margin-bottom: 0px;
	
	flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

}

hr {
	height: 3vw;
	width: 8vw;
	color: rgb(0, 80, 254, 1); 
}

.body{
	height: 70%;
	display: flex;
	flex: 1 0 auto;

	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;	
}

.boutonNav {
	background-color: #FFFF;
	border-width: 0px;
	margin-right: 1vw;
}

.boutonNav:hover {
	color: rgb(0, 80, 254, 1);
}

.footerElement {
	width: 33%;
	background-color: green;	
}

.logoFooter{
	width: 1.5vw;
	height: 1.5vw;
}

.logoFooter:hover{
	cursor: pointer;
}

.bouton_bleu{
	background-color: rgb(0, 80, 254, 1);
	border-radius: 50px;
	color: white;
	height: 3vw;
	width: 10vw;
	border: 1px solid rgb(0, 80, 254, 1);
	margin-left:3vw;
}

.boutton_bleu:hover{
	background-color: white;
	border-radius: 50px;
	color: rgb(0, 80, 254, 1);
	height: 3vw;
	width: 10vw;
	border: 1px solid rgb(0, 80, 254, 1);
}

/* /!\ CSS PAGE INDEX /!\ */
.leftPart {
	background-color: rgb(230, 218, 205, 1);
	width : 30%;
}

.rightPart {
	background-color: #FFFF; 
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}

.home_texte{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 24vw;	
}

.home_card{
	height: 25vw; 
	width: 21vw; 
	background-color: rgb(244, 236, 230, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	position: relative;
	left: -25vw;
	top: 5vw;
}

.photo_profil{
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	margin-top: 2vw;
}

#home_card_nom {
	margin-top: 2vw;
}

.boutons_accueil{ 
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 22vw;	
}

.home_logo{
	width: 100%;
	height: 100%;
	display: flex; 
	justify-content: center;
	background-color: white;
}

#card_logo{
	margin-top: 1vw;
	margin-left: 2vw;
}

#card_logo:hover{
	cursor: pointer;
}

.carre_entete{
  width  : 1.5vw;
  height : 1.5vw;
  background : rgb(0, 80, 254, 1);
  margin-right: 1vw;
  margin-left: 1vw;
}

.carre_titre{
  width  : 2vw;
  height : 2vw;
  background : rgb(0, 80, 254, 1);
  margin-right: 1vw;
  margin-left: 1vw;
}

.entete{
	display: flex;
}

.entete:hover{
	cursor: pointer;
}

.bodyCV{	
	min-height: 100vh;
	background-color: rgb(230, 218, 205, 1);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.item{
	width: 65vw;
	height: 15vw;
	background-color: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	display: flex;
	padding: 2vw;
	justify-content: space-around;
	margin-bottom: 4vw;
	padding: 1vw;
	-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
}

.item:hover {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}

#premier_item{
	margin-top: 2vw;
}

.titre{
	display: flex;
	justify-content: center;
}

.date{
	color: rgb(0, 80, 254, 1);
}

.colonne{
	margin-left: 1vw;
	padding : 1vw;
}

#colonne_droite {
	margin-top: 2.8vw;
	display: flex;
	flex-direction: column;
	width: 50%;
}

#colonne_logo{
	display: flex;
	align-items: center;
}



#logoOBS{
	width: 9vw;
	height: auto;
	align-self: center;
}

#logoESC{
	float: left;
	width: 9vw;
	height: auto;
	align-self: center;
}

#item_ESC{
	height: 18vw;	
}

.titre_CV{
	display: flex;
	align-items: center;
	margin-top: 4vw;
	margin-bottom: 2vw;
}

.titre_section{
	display: flex;
	justify-content: space-between;
	width: 55vw;
	align-items: center;
}


.bouton_download_cv{
	background-color: rgb(0, 80, 254, 1);
	border-radius: 50px;
	color: white;
	height: 3vw;
	width: 13vw !important;
	border: 1px solid rgb(0, 80, 254, 1);
	margin-left:3vw;
	text-align: center;
	padding-top: 0.5vw;	
}

.bouton_download_cv:hover{
	background-color: white;
	border-radius: 50px;
	color: rgb(0, 80, 254, 1);
	height: 3vw;
	width: 10vw;
	border: 1px solid rgb(0, 80, 254, 1);
}

#bouton_download_cv{
	margin-right: 2vw;
	width: auto;
	text-decoration: none;
}




#experience{
	margin-left: 2vw;
}


#item_L1PT{
	height: 20vw;
}

#item_EPF{
	height: 20vw;
}

#btn_en_savoir_plus {
	margin-top: 2vw;
}

#formation{
	margin-bottom: 2vw;
}

.competences{
	display: flex;
	justify-content: space-around;
}

#item_competences_langues{
	height: 22vw;
	display: flex;
	flex-direction: column;
	padding-left: 2vw;
	padding-top: 3vw;
}

/* /!\ SLIDER TEST /!\ */ 


*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container{
	max-width: 100%;
	margin: 0 auto;
	background-color: rgb(230, 218, 205, 1);
}

.titre_projets{
	display: flex;
	align-items: center;
	margin-top: 1.5vw;
	margin-bottom: 1vw;
	margin-left: auto;
	margin-right: auto;
	width: 13vw;
}

.slider div.projet{
	max-width: 90%;
	display: none;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}


div.active{
	display: flex !important;
	animation: fade 0.8s;
	display: flex;
	justify-content: center;
}

@keyframes frame {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


.cont-btn {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.btn-nav {
	font-size: 50px;
	cursor: pointer;
	
}

#premier_projet {
	height: 20vw;	
}

.projet{
	width: 90vw;
	height: 30vw;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	display: flex;
	margin-bottom: 1vw;
}

.description_projet{
	width: 60%;
	height: 100%;
	
	
}

.div_image_projet{
	width: 40%;
	height: 100%;
	background-color: rgba(201, 202, 225, 0.463);
	display: flex;
	justify-content: center;
	align-items: center;	
}



.p_titre_projet{
	color: blue;
	margin: 1.5vw;
	margin-bottom: 0.1vw;
	margin-left: 2vw;
}

.p_position_projet{
	margin-left: 1.5vw;
	font-style: italic;
	margin-left: 2vw;
}

.p_description_projet{
	margin-left: 1.5vw;
	margin-left: 2vw;
}

.p_technos_utilisees{
	margin-left: 1.5vw;
	margin-left: 2vw;
}

.image_projet {
	width: auto;
	height: auto;
	max-width: 20vw;
	max-height: 20vw;
}

.slideshow{
	display: flex;
	
}
.rond_slideshow{
	width  : 1.5vw;
	height : 1.5vw;
	border: 1.5px solid rgb(0, 80, 254, 1);
	border-radius: 50%;

	margin-left: 1vw ;
	margin-right: 1vw;
  }

  div.rond_slideshow.active {
	background-color: rgb(0, 80, 254, 1);
  }

  .titre_centres_interets{
	display: flex;
	align-items: center;
	margin-top: 1.5vw;
	margin-bottom: 1vw;
	margin-left: auto;
	margin-right: auto;
	width: 27vw;
}

.p_description_CI_accueil{
	text-align: justify;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.div_CI_image_buttons {
	display: flex;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

.image_buttons_CI {
	width: 25vw;
	height: 25vw;
	color: beige;
	border: none;
	font-size: x-large;	
	-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
}


.image_buttons_CI:hover{
	opacity: 0.8;
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
}

#image_buttons_CI_expedition{
	background-image: url('images/image_expedition.JPG');
	background-size: 25vw;
}

#image_buttons_CI_environnement{
	background-image: url('images/image_environnement2.jpeg');
	background-size: 3èvw;
}

#image_buttons_CI_sport{
	background-image: url('images/image_sport.JPG');
	background-size: 26vw;
}

.body_centres_interets {
	background-color: rgba(230, 218, 205, 1);
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }